// TODO

.banner{
  width: 100%;
  object-fit: cover;
  height: 25rem;
}
.container{
  max-width: 700px;
  margin: 3rem auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  h2,h1,h3{
    color: var(--white);
  }


  .postInfos{
    margin-top: 2rem;
    width: 100%;
    display: flex;

    span{
      color: var(--grey-500);
      display: flex;
      justify-content: center;
      align-items: center;

      svg{
        margin-right: .3rem;
      }
    }

    span+span{
      margin-left: 1.5rem;

    }
  }

  .postContent{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.125rem;

    p,ul,li{
      color: var(--grey-500);
      width: 100%;
    }



    .articleTitle{
      width:100%;
      margin: 2rem 0;
    }


    a{
      color: var(--pink);
      text-decoration: none;

      &:hover{
        opacity: 0.6;
        transition:.4s ease
      }
    }


  }

  .editedOn{
    width: 100%;
    margin-top: 1rem;
    color: var(--grey-300);
    opacity: .4;
  }

  .othersPosts{
    border-top: 1px solid var(--grey-300);
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;

    p{
      color: var(--grey-500);
      display: flex;
      flex-direction: column;



      a{
        margin-top: 0.5rem;
        color: var(--pink);
        text-decoration: none;
      }
    }



  }

}
